/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$header-height: 75px;
body {
  padding-top: $header-height; // make room for fixed header
}


th {
  padding-top: 2rem !important;
  font-size: 20px;
  line-height: 2rem;

  small {
    float: right;
    font-size: 64%;
  }
}

// generic
.price {
  white-space: nowrap;
}

// menu
.sidemenu {
  margin-top: -$header-height;

  ul {
    padding-top: $header-height;
  }

  .nav-link {
    padding: 0.25rem 0.5rem;
  }
}

.categoryDropdown {
  .dropdown-menu {
    // save a bit of space from the default 8px
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .dropdown-item {
    // save a bit of space from the default 4px
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

// product table, fix first entry
.product-list table tr:first-child th {
  border-top: 0;
  padding-top: 0 !important;
}

// remove whitespace on phones to make the table as wide as the body
@include media-breakpoint-down(sm) {
  .row .col-sm {
    padding: 0;
  }
}

// allow better placement when clicking anchors
.move-up {
  position: relative;
  top: -4rem;
}

// no idea why not there by default??
.disabled {
  pointer-events: none;
}


// adjust space so that it never scrolls or gets hidden by fixed header
.basket-column {
  margin-top: -$header-height;

  #basket {
    padding-top: $header-height;
  }
}

.basket-column #basket {
  padding-bottom: $spacer;

  h3 {
    margin-bottom: $spacer * 0.2;

    span {
      font-weight: normal;
      float: right;
    }
  }

  small {
    display: block;
  }

  > ul {
    list-style-type: none;
    padding-left: 0;

    > li {
      margin-top: $spacer;
      cursor: pointer;

      span {
        float: right;
        font-weight: normal;
      }
    }

    ol, ul {
      font-size: 80%;
      padding-left: $spacer * 1.5;
    }
  }
}


.button-overflow {
  .btn {
    margin-bottom: $spacer*0.5;
    width: 100%;

     @include media-breakpoint-up(sm) {
      width: auto;
      margin-bottom: 0;
    }
  }

  .dropdown {
    width: 100%;
    display: inline-block;

     @include media-breakpoint-up(sm) {
      width: auto;
    }
  }

  .dropdown-menu {
    width: 100%;
    a {
      padding-top: 8px;
      padding-bottom: 8px;
    }

     @include media-breakpoint-up(sm) {
      width: auto;
      a {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}






  .nick-id-float {
    float:right;
    color: #E6E6E6;
    font-size: 600%;
    cursor: help;
  }
