/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// product add modal
.size-selector {
  padding: 5px;

  &:nth-child(even) {
    background: #fafafa;
  }
}

select.form-control + select.form-control {
  margin-top: 5px;
}

.ingred-columns {
  column-width: 11em;
  column-gap: 2em;

  .form-check:nth-child(even) {
    background: #fafafa;
  }
}

.form-check-label {
  width: 100%;
}

.hidden {
  display: none;
}


th {
  padding-top: 2rem !important;
  font-size: 20px;

  small {
    float: right;
    font-size: 64%;
  }
}

// generic
.price {
  white-space: nowrap;
}

// menu
.sidemenu {
  ul {
    padding-top: 2rem;
  }

  .nav-link {
    padding: 0.25rem 0.5rem;
  }
}
