<!DOCTYPE html>
<html>
  <head>
    <title>KzeenWoIstDiePizza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#scroll-spy-target" data-offset="0">
    <%= yield %>
  </body>
</html>
